/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100%;
    max-width: auto;
    background: linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;
    background: -moz-linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;
    background: -ms-linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;
    background: -webkit-linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;
    background: -webkit-linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;
    background: -o-linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;
    background:  linear-gradient(to bottom right, #4c1d95, #00A9FF, black) no-repeat;  
    background-size: cover;
}

body {
    line-height: 1;
    /* background-image: linear-gradient(to bottom right, #4c1d95, #3b82f6, black); */
    /* background-image: url('assets/elk-sun.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; */
    margin: 0;
}

.app {
    margin: 0;
    padding: 0px;
}

.content {
    text-align: center;
}

.cowboy-blue {
    background-color: #00A9FF;
    color: white;
}

.cowboy-white {
    background-color: white;
    color: #00A9FF;    
}

.caption {
    color:#00A9FF;
    font-weight: bold;
}

.svg-container {
    margin: 0px;
    background-color: white;
    border-style: solid;       
    border-width: 2px;
    border-color: black;      
    border-radius: 10px;           /* Rounded corners */
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0); /* Thick black drop shadow */
    display: inline-block;         /* To properly contain the SVG */
    padding: 2px;                 /* Optional: space between the SVG and the container edges */
}

.svg-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

.icon {
    width: 100px;
    height: 125px;
    top: 10px;
    left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1.5s ease forwards;
}