/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cowboy-gradient {
    background: #4c1d95;
    background: linear-gradient(135deg,#4c1d95 0%, #00a9ff 60%, #000000 100%);
    background: -webkit-linear-gradient(135deg,#4c1d95 0%, #00a9ff 60%, #000000 100%);
    background: -moz-linear-gradient(135deg,#4c1d95 0%, #00a9ff 60%, #000000 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.electric-blue {
    background: #0077ff;
}

html {
    /*min-height: 100%;
    background-color: #489dff;*/
    background-image: url("assets/fort_lock5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    margin: 0;
  }
  
  .app {
    /* background: linear-gradient(135deg,#4c1d95 0%, #00a9ff 60%, #000000 100%);
      background: -webkit-linear-gradient(135deg,#4c1d95 0%, #00a9ff 60%, #000000 100%);
      background: -moz-linear-gradient(135deg,#4c1d95 0%, #00a9ff 60%, #000000 100%);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: fixed; */
    min-height: 100vh;
    width: 100vw;
    z-index: -1
  }
  
.content {
    text-align: center;
}

.cowboy-blue {
    background-color: #489dff;
    color: white;
}

.cowboy-white {
    background-color: white;
    color: #489dff;    
}

.bbblue-text {
    color:#489dff;
}

.caption {
    color:#489dff;
    font-weight: bold;
}

.svg-container {
    margin: 0px;
    background-color: white;
    border-style: solid;       
    border-width: 2px;
    border-color: black;      
    border-radius: 10px;           /* Rounded corners */
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0); /* Thick black drop shadow */
    display: inline-block;         /* To properly contain the SVG */
    padding: 2px;                 /* Optional: space between the SVG and the container edges */
}

.svg-container svg {
    width: 100%;
    height: 100%;
    display: block;
}

.icon {
    width: 100px;
    height: 125px;
    top: 10px;
    left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1.5s ease forwards;
}

.button {
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff3e3e; /* Change to desired hover color */
}

.button:active {
    transform: scale(1.1); /* Scale up on touch */
}

@media (max-width: 600px) {
    html {
        background-size: auto 100%;
    }
}